body{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img{
    border: 5px solid #3882f6;
    border-radius: 15px;
    padding: 5px;
    width: 150px;
  }

.blue-segment{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #fff;
    padding: 25px;
}

.top-row{
display: flex;
flex-direction: row;
justify-content: space-between;

}

.top-left{
    font-weight: 700;
    font-size: 20px;
}


.top-right {
    display: flex;
    flex-direction: row;
     margin-right: 50px;
      
}

.link{
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.mid-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mid-left{
    max-width: 300px;
    margin: 10px;
}
.mid-right{
    margin: 10px;
}
.button,
.button2{
    color: #fff;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 10px;
}
.button2{
    border-color: #fff;
    flex-direction: right;
}

.middle-segment{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 0 100px;
}

.pics{
    display: flex;
    flex-flow: column wrap;
    max-width: 300px;
    align-items: center;
    text-align: center;
}

.quote{
    display: inline-flex;
    align-items: flex-end;
    background-color: #e5e7eb;
    font: 36px;
    font-family: 'Times New Roman', Times, serif, light italic #1f2937;
    margin: 0;
    padding: 50px 150px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882f6;
    color: #fff;
    margin: 48px;
    border-radius: 5px;
    padding: 50px 100px;
}

.bottom-left{
    display: flex;
    flex-direction: column;
}

.footer-title{
    font-size: 20px;
    font-weight: 700;
}

.bottom-right{

}
